<!DOCTYPE html>
<head>
<title>Webshop</title>
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<script src="https://kit.fontawesome.com/8a91947445.js" crossorigin="anonymous"></script>
</head>
<body>

  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/addProduct">Admin</a></li>
    <li><a href="/shoppingCart">Shopping Cart</a></li>
    <li><a href="/Checkout">Checkout</a></li>
  
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Login</a>
      <div class="dropdown-content">
        <a href="/login">Login</a>
        <a href="/register"> Register</a>
        <a href="/reset">Reset Password?</a>
        <a href="/logout">Logout</a>
      </div>
    </li>
       
      </div>
    </li>
  </ul>

  <form action="/addProduct" class ="add-product" method="post" enctype="multipart/form-data">
       
      <input type="text" name="name" id="" placeholder="name" required>
      <input type="number" name="price" id="" placeholder="price" required>
      <input type="text" name="description" id="" cols="20" rows="5" placeholder="description">
      <input type="file" name="imageurl" accept="image/png, image/jpeg"/>
      <button type="submit">Add product!</button>
  </form>
  <div id="my-products"> 
     
          <% for( let i = 0; i < products.length; i++ ) { %>
              <% if (products[i]._id == id) { %>
                  <form action="/addProduct/edit/<%= id %> " class="edit-product" method="post" enctype="multipart/form-data">
                      
                      <input type="text" name="name" id="" value="<%= products[i].name %>" required>
                      <input type="number" name="price" id="" value="<%= products[i].price %>" required>
                      <input type="text" name="description" id="" value="<%= products[i].description %>" required>
                      <input type="file" name="imageurl" accept="image/png, image/jpeg"/>
                      <button type="submit">Edit product!</button>
                  </form>
              <% } else { %>
              <div>
                  <img style="height: 170px;" src="<%= products[i].image %> ">
                  <h3><%= products[i].name %></h3>
                  <p><%= products[i].price %> SEK</p>
                  <p><%= products[i].description %></p>
                  <a href="/addProduct/edit/<%= products[i]._id %> "><i class="far fa-edit"></i></a>
                  <a href="/addProduct/delete/<%= products[i]._id %> "><i class="far fa-trash-alt"></i></a>
  
              </div>
              <% } %>
          <% } %>
      </div>

</body>
</html>
