<!DOCTYPE html>
<head>
<title>Add Product</title>
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<script src="https://kit.fontawesome.com/8a91947445.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body> 

  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/shoppingCart">Shopping Cart</a></li>
    <li class="user-symbol"><a href="/login"><i class="far fa-user"></i></a></li>  
  </ul>

  <form action="/admin" class ="add-product" method="post" enctype="multipart/form-data">
       
      <input type="text" name="name" id="" placeholder="name" required>
      <input type="number" name="price" id="" placeholder="price" required>
      <input type="text" name="description" id="" cols="20" rows="5" placeholder="description">
      <input type="file" name="imageurl" accept="image/png, image/jpeg"/>
      <button type="submit">Add product!</button>
  </form>
  <div class="admin-products"> 
   

          <% for( let i = 0; i < products.length; i++ ) { %>
              <% if (products[i]._id == id) { %>


  </div>

                  <form action="/admin/edit/<%= id %> " class="edit-product" method="post" enctype="multipart/form-data">
                      
                      <input type="text" name="name" id="" value="<%= products[i].name %>" required>
                      <input type="number" name="price" id="" value="<%= products[i].price %>" required>
                      <input type="text" name="description" id="" value="<%= products[i].description %>" required>
                      <input type="file" name="imageurl" accept="image/png, image/jpeg"/>
                      <button type="submit">Edit product!</button>
                  </form>
              <% } else { %>
              <div class="admin-product">
                  <img style="height: 170px;" src="<%= products[i].image %> ">
                  <h3><%= products[i].name %></h3>
                  <p><%= products[i].price %> SEK</p>
                  <p><%= products[i].description %></p>
                  <a href="/admin/edit/<%= products[i]._id %> "><i class="far fa-edit"></i></a>
                  <a href="/admin/delete/<%= products[i]._id %> "><i class="far fa-trash-alt"></i></a>

              </div>
              <% } %>
          <% } %>
      </div>

</body>
</html>
